body {
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    /* f4f4f4 is white smoke  */
    background-color: #f4f4f4;
    /* 333 is dark charcoal */
    color: #333;
}

.container {
    margin: 20px auto;
}

.text {
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
}


.lists {
    padding: 0 40%;
    text-align: center;
    text-justify: auto;
}

.form {
    padding: 20px 0;
    /* font-family: 'IBM Plex Mono', monospace; */
}

.form input {
    font-family: Arial, monospace;
    padding: 20px;
    width: 50%;
}

.test_box {
    border: 1px dashed #333;
    padding: 20px;
    border-radius: 15px;
}

.blog_list li {
    list-style: none;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}