body {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    text-align: center;
    line-height: 1.4em;
    margin: 0;
    padding: 0;
    background-color: #e5e5e5;
    color: #333;
}


.container {
    margin: 20px auto;
    overflow: hidden;
}

.MathJax_Display {
    font-weight: bold;
}

p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    text-align: justify;
    padding: 0 10px;
    box-sizing: border-box;
}

.item {
    padding: 0 10px;
    width: 33.3%;
    font-size: 13px;
    font-weight: 450;
    color: #131313;
    text-align: left;
    box-sizing: border-box;
}

.item h3 {
    margin-top: 0;
}

.item img {
    width: 100%;
    height: auto;
}

#example-img {
    margin-top: 500%;
    filter: brightness(93%);
}

#happiness-quote {
    margin-top: 400%;
}

#quantum-quote {
    margin-top: 1100%;
}

.leftmargin {
    font-size: smaller;
    text-align: right;
    color: #636363;
    max-width: 250px;
    box-sizing: border-box;
}

.rightmargin {
    font-size: smaller;
    text-align: left;
    color: #636363;
    max-width: 250px;
    box-sizing: border-box;
}

#navbar {
    /* margin-top: 2%; */
    text-align: center;
}

.blog_title {
    margin: 2.5% 0;
    padding: 0px;
}

#navbar a {
    font-size: 14px;
    padding: 0 5px;
}

#navbar a:hover {
    font-weight: bold;
    text-decoration: underline;
}

h1 {
    padding-top: 20px;
    /* text-decoration: underline dotted; */
}

*/ .clr {
    clear: both;
}


.text {
    max-width: 500px;
    margin: 0 auto;
    text-align: justify;
    font-weight: 450;
}

.text a {
    text-decoration: underline;
    color: #333;
}

.text a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #140084;
}


.lists {
    padding: 0 40%;
    text-align: center;
    text-justify: auto;
}

.interests_para {
    max-width: 500px;
    margin: 0 auto;
    text-align: left;
    font-weight: 450;
}

.interests {
    display: inline;
}

.interests a {
    text-decoration: underline;
    color: #140084;
}

.interests a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #140084;
}

#interests a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #140084;
}


/* words.html list stuff */

.blog_list li {
    list-style: none;
}

.blog_list li a {
    text-decoration: none;
    color: #333;
}

.blog_list li a:hover {
    text-decoration: underline;
    color: #2600ff;
}

.blog_list li h2 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    text-align: center;
}

.blog_list li p {
    margin: 0px;
    padding: 0px;
}

.blog_list_title {
    margin: 0px;
    padding: 0px;
}

code {
    text-align: left;
    padding: 0;
    border: 1px solid #8310b9;
    border-radius: 5px;
}

footer {
    text-align: center;
    font-size: smaller;
    padding: 5%;
    background-color: #e5e5e5;
    color: #333;
}

/* Center and position Mailchimp form at the bottom */
.mailchimp-container {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px; /* Adjust as needed for spacing */
    background-color: #fff; /* Adjust background color as needed */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
    z-index: 1000; /* Adjust the z-index based on your website's layout */
}
